@page "/fetchdata"
@inject HttpClient _http
@inject ILoadingService _loadingService

<style>
    .mud-toolbar.mud-toolbar-gutters.mud-table-toolbar {
        display: contents;
    }
</style>


<PageTitle>Weather Forecast</PageTitle>


<MudText Typo="Typo.h3"
         Class="my-6">Weather Forecast</MudText>

<MudTable Items="_forecasts"
          Hover="true"
          Breakpoint="Breakpoint.Sm"
          Loading="@_loading"
          LoadingProgressColor="Color.Info"
          FixedHeader="true">

    <ToolBarContent>
        <MudGrid Class="pa-3">
            <MudItem xs="12"
                     sm="12"
                     md="6">
                <MudInput @bind-Value="_searchString"
                          Placeholder="Search..."
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          Adornment="Adornment.Start"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense" />
            </MudItem>
            <MudItem xs="12"
                     sm="12"
                     md="6">
                <div class="d-flex justify-md-end justify-sm-start">
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Transparent"
                               StartIcon="@Icons.Material.Outlined.FilterAlt"
                               Class="mr-1"
                               Size="Size.Large">Filter</MudButton>
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Error"
                               Class="mx-1"
                               StartIcon="@Icons.Material.Filled.Delete"
                               Size="Size.Large">Delete</MudButton>
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Add"
                               Class="mx-1"
                               Size="Size.Large">Add</MudButton>
                </div>
            </MudItem>
        </MudGrid>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Date</MudTh>
        <MudTh>Temp. (C)</MudTh>
        <MudTh>Temp. (F)</MudTh>
        <MudTh>Summary</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Date">@context.Date</MudTd>
        <MudTd DataLabel="Temp. (C)">@context.TemperatureC</MudTd>
        <MudTd DataLabel="Temp. (F)">@context.TemperatureF</MudTd>
        <MudTd DataLabel="Summary">@context.Summary</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private WeatherForecast[]? _forecasts;
    private bool _loading;
    private string _searchString = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _loading = true; _forecasts = await _http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        _loadingService.SetLoading();
        await Task.Delay(3000);
        _loading = false;
        _loadingService.StopLoading();
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

}